body{
    font-family: Coquette;
    color: rgb(125, 106, 63);
    background-color: rgb(238, 238, 192);
    margin-left: 15px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(92, 77, 42);
    opacity: 0.8;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    margin-left: 20px;
    font-weight: 600;
  }
  
  li a {
    display: block;
    font-size: larger;
    color:  rgb(238, 238, 192);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

h1{
    font-size: 70px;
    text-align: left;
}

h2{
    font-size: 36px;
    margin-top: -30px;
    margin-bottom: 50px;
}

p{
    float: left;
    width: 650px;
    height: auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
    font-family: Agenda;
}

.image{
    float: right;
    width: auto;
    height: 400px;
    margin-right: 0px;
    margin-left: -800px;
}
